* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

section {
  padding: 4em 0;
}

textarea {
  resize: none;
  width: 100%;
}

.contact-form {
  max-width: 400px;
  margin: auto;
}

.contact-form textarea {
  height: 10em;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
}

*::placeholder {
  color: #aaa;
}

form * {
  font-size: 1rem;
}

:root {
  --btn-color: #2e2ed3;
}

.btn {
  background-color: var(--btn-color);
  color: white;
  font-weight: bold;
  padding: 1em 5em;
  outline: none;
  box-sizing: border-box;
  border: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.6em;
}

.btn:hover {
  border: 3px solid var(--btn-color);
  background-color: white;
  color: var(--btn-color);
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.show-popup .popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 1.5rem 3rem;
  text-align: center;
  background-color: white;
  width: fit-content;
  margin-bottom: 38vh;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  font-weight: bold;
  visibility: hidden;
  margin-top: 0.4em;
}

.show {
  visibility: visible;
}
